/*
   lab[dot]cityandwool[dot]com by @cityandwool
*/

@import "compass";

@include global-reset;

$primary: 				#1abc9c;
$primary-dark: 			#16a085;

$secondary: 			#34495e;
$secondary-dark: 		#2c3e50;

$white: 				#FFF;
$black: 				#000;

$gutter: 				20px;

%visuallyhidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

body {
	font-family: 'Montserrat';
	font-size: 2em;
	line-height: 1.2em;
	background: $secondary-dark;
	color: $white;
	text-align: center;
	header {
		h1 {
			@extend %visuallyhidden;
		}
	}
	main {
		section {
			background: $secondary;
			a {
				display: block;
				padding: $gutter;
			}
		}
	}
	footer {
		padding: $gutter;
	}
	a {
		color: $white;
		text-decoration: none;
		border-bottom: 4px dashed $white;
		&:hover {
			border-bottom-style: dashed;
		} 
	}
}